body {
  height: 100%;

  overflow: hidden;
}
.user {
  overflow: auto;
}
header {
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: #f33030;
  position: static;
  width: 100%;
  z-index: 2;
}
.space-between {
  justify-content: space-between;
}
.levels {
  gap: 20px;
}
.players {
  gap: 20px;
}
.player > button {
  width: 127px;
  height: 210px;
  margin-top: 30px;
  margin-bottom: 8px;
  border-radius: 5px;
  transform: scale(0.5);
}
.red {
  background: url(http://127.0.0.1:5501/website/assets/images/charac-2.svg);
}
.purple {
  background: url(http://127.0.0.1:5501/website/assets/images/charac-1.svg);
}
.black {
  background: url(http://127.0.0.1:5501/website/assets/images/charac-3.svg);
}
.levels > button {
  background-color: var(--button-bg);
  width: 251px;
  height: 52px;
  border-radius: 100px;
  font-size: 24px;
  color: var(--button-text);
}

.player > button:hover {
  transform: scale(1.1);
}
.wrap {
  flex-wrap: wrap;
}
.main {
  width: 100%;
  height: 90vh;
  background: url(../assets/images/main1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 40px;
  margin-top: 30vh;
}
.second-h2 {
  margin-top: 2vh;
}
canvas {
  margin-top: 10px;
}
h1 {
  font-size: 60px;
  text-align: center;
}
.half {
  width: 30%;
  height: 55%;
}
.start {
  background-color: var(--button-bg);
  width: 251px;
  height: 52px;
  border-radius: 100px;
  font-size: 24px;
  color: var(--button-text);
}
input {
  margin-bottom: 40px;
  border-radius: 2px;
  opacity: 0.7;
  font-size: 20px;
  width: 251px;
  height: 52px;
}
