header{
    height: 300vh;
    background-color: lightblue;
    position: relative;
}

nav{
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: #F33030;
    position: fixed;
    width: 100%;
    z-index: 2;

}

.logo{
    font-size: 30px;
}
.logo > a{
    color: white;
    font-weight: bold;
}

/* .nav-links{
    align-items: center;
    justify-content: center;
} */

.nav-links > li{
    margin-left: 50px;
    transition: 1s;
}
.nav-links > li:hover{
    transform: scale(1.1);
}

.nav-links li a{
    color: white;
    font-weight: bold;
}


/* Container div */
.container, .guide{
    height: 100vh;
}

.container > h1, .guide > h1, .charachters > h1{
    font-size: 80px;
    line-height: 55px;
}

.container > p, .guide > p, .charachters > p{
    width: 50vw;
    font-size: 30px;
    color: #5F5F5F;
    text-align: center;
    margin: 50px;
    z-index: 1;
}

.container > button, .charachters > button{
    background-color: #F33030;
    width: 251px;
    height: 52px;
    border-radius: 100px;
    font-size: 24px;
    color: white;
}


.cloud-1{
    position: absolute;
    top: 100px;
    right: 0;
}
.cloud-2{
    position: absolute;
    top: 200px;
    left: 0;
}
.trees{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.maze{
    display: block;
    margin: auto;
}




/* Guide section */

.cards{
    width: 100%;
    text-align: center;
}
.card{
    width: 300px;
    height: 200px;
    padding: 50px;
    border-radius: 5px;
    margin: 30px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    transition: 1s;
}

.card:hover{
    transform: scale(1.1);
}

.card > img{
    width: 40px;
    display: block;
    margin: auto;
}
.card > h1{
    margin: 10px;
}



/* Characters Section */
.charachters{
    background-color: #E9F9FF;
    height: 90vh;
}

.players{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.players > img{
    width: 80px;
    margin-left: 50px;
    margin-right: 50px;
    transition: 1s;
}
.players > img:hover{
    transform: scale(1.5);
}